html,
body {
  background: #ebebeb !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.customLink {
  color: white !important;
  text-decoration: none !important;
}


* {
  box-sizing: border-box;
}
.customLink  {
  color: white;
  text-decoration: none;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: rgb(135 138 157) !important;
}